.post-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.heading-margin {
  margin-bottom: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control textarea {
  width: 100%;
  font: inherit;
  border: 2px solid #a7a7a7;
  background: #f8f8f8;
  padding: 0.35rem 0.75rem;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #495057;
  box-sizing: border-box;
  resize: none;
}

.form-control textarea:focus {
  outline: none;
  border-color: #ffffff;
}
